<div class="nested-fields">
  <div class="form-group">
    <div class="input-group">
      <div class='input-group-addon'>
        <%= f.check_box :correct %>
      </div>
      <%= f.text_field :content, class: 'form-control' %>
      <div class="input-group-addon">
        <%= link_to_remove_association "-", f %>
      </div>
    </div>
  </div>
</div>
