<%= javascript_include_tag 'quiz_form' %>

<%= form_for [@course, @quiz] do |f| %>
  <fieldset>
    <legend>Add a new quiz</legend>

    <div class="form_group">
    <input type="text" class="form-control" name="quiz[name]" placeholder="Name"></input>
    </div>
    <div class="form_group">
    <input type="text" class="form-control" name="quiz[short_description]" placeholder="Short description"></input>
    </div>
    <div class="form_group">
    <input type="text" name="quiz[description]" placeholder="Description" class="form-control"></input>
    </div>

    <div id="questions">
      <div class="singleQuestion">
        <legend>Question</legend>
        <div class="form-group">
          <input type="text" class="form-control" name="quiz[questions_attributes][][content]" placeholder="Question" />
        </div>
        <div class="form-group">
          <div class="checkbox">
            <input type="checkbox" name="quiz[questions_attributes][][answers_attributes][][correct]" value="">
            <input type="text" class="form-control" name="quiz[questions_attributes][][answers_attributes][][content]" placeholder="Answer" />
          </div>
        </div>
        <a class="add-answer pull-right"><span class="glyphicon glyphicon-plus"></span> answer</a>
      </div>
    </div>

    <a id="add-question" class="pull-left"><span class="glyphicon glyphicon-plus"></span> question</a>

  </fieldset>

  <div class="submitCont">
    <input type="submit" class="btn btn-primary" value="Add quiz" />
  </div> <!-- /submitCont -->
<% end %>
