# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 8173d3da7fbf41e3ec49cb938f444e2cdb054bc29c9171b760509b36d9b2abdc3f1c2ce9143cb70f9f130505bcc55e3ae307d924a6e085dfc69b8522319dcb3d
  github_client_id: 5d5c6f51ec961af04433
  github_client_secret: 44e68aa54d21e32781bd8e5c8d236220d936f21b
  bitbucket_client_id: WWyhYsstfN6VdYjbnf
  bitbucket_client_secret: zYKh7AJJ7n8JjagKWr8y48pjtxh4Z8Uw

test:
  secret_key_base: 15835c8fbe1cd356edffacff56b1f51cc8f9413492c99ecd6cd1a60867792aeeeaacaf72a9a1686587a3095140c730e24cc88244b4599e2679b1e78ce2a53738
  github_client_id: 5d5c6f51ec961af04433
  github_client_secret: 44e68aa54d21e32781bd8e5c8d236220d936f21b
  bitbucket_client_id: WWyhYsstfN6VdYjbnf
  bitbucket_client_secret: zYKh7AJJ7n8JjagKWr8y48pjtxh4Z8Uw
