<%= link_to "Create new course", new_course_path  %>

<table>
  <% @courses.each do |course| %>
    <tr>
      <td><%= image_tag course.screenshot_url, width: 85, height: 85 %></td>
    </tr>
    <tr>
      <td><%= link_to course.name, course_path(course.url) %></td>
    </tr>
    <tr>
      <td><%= course.short_description %></td>
    </tr>
  <% end %>
</table>
