<% if policy(Course.new).create? %>
<div class="admin-panel">
  <a href="<%= new_course_path %>" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create new course</a>
</div>
<% end %>

<div class="row">
  <%= render 'shared/courses_list', courses: @courses  %>
</div>
