<table>
  <% @courses.each do |course| %>
    <tr>
      <td><%= link_to course.name, course_path(course.url) %></td>
    </tr>
    <tr>
      <td><%= course.short_description %></td>
    </tr>
  <% end %>
</table>
