<%= link_to '&times;'.html_safe, :back, role: "button", class: "close", "aria-hidden" => "true" %>
<h1>Create new course</h1>

<%= form_for @course, role: 'form' do |f| %>
  <%= render 'form', f: f %>
  <div class="form_group">
    <input class="btn btn-primary" type="submit" value="Create course">
  </div>
<% end %>
