html, body {
	height: 100%;
}

body {
	padding-top: 70px;
}

/* Mozilla dotted border fix */
a:focus { 
    outline: none; 
}

#main-page {
	padding-bottom: 15px;
}

/* warnings and success box */
.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: none;
	border-left: 3px solid transparent;
	border-radius: 0px;
}

.alert-success {
	background-color: #dff0d8;
	border-color: #3c763d;
	color: #3c763d;
}

.alert-danger {
	background-color: #f2dede;
	border-color: #a94442;
	color: #a94442;
}

/* nav */ 
.navbar-default {
	background-color: rgba(248,248,248,.9);
}

.navbar-brand > img {
	height: 15px;
	margin-top: -5px;
}

ul.navbar-right {
	padding-right: 15px;
}

ul.nav > li > a.avatar > img {
	width: 32px; 
	height: 32px;

	border-radius: 50%;
	-webkit-border-radius: 50%;
}

ul.nav > li.dropdown > a.avatar > img {
	margin-left: 5px;
}

ul.nav > li > a.avatar {
	padding: 9px;
}

/* search form */

#search-form > #search-input {
	overflow: hidden;
	width: 0px;
}

#search-form > .btn-link {
	color: #777777;
}

/* vertical align middle div */
.home-table {
	display: table; 

	width: 100%;
	height: 100%;
}

.home-table-cell {
	display: table-cell; 
	text-align: middle; 
	vertical-align: middle;
}

.home-table-cell > .jumbotron {
	width: 60%;
	min-width: 285px;
	margin: -10px auto 10px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	text-align: center;
	color: #f8f8f8;
	background: none;
}

/* Admin panel - "create new coure" etc.*/
.admin-panel {
	margin: 10px auto 30px;
	text-align: center;
}

/* Thumbnails */
.thumbnail > .imageholder {
	width: 100%;
	max-height: 200px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center center;
}

.thumbnail > .imageholder > img {
	width: 100%;
}

a.thumbnail:hover {
	text-decoration: none;
}

a.thumbnail > .caption > h3 {
	margin-top: 10px;
}

a.thumbnail > .caption {
	height: 166px;
}

a.thumbnail > .caption > h3 {
	max-height: 78px;
	overflow: hidden;
}

a.thumbnail > .caption > p {
	height: 40px;
	overflow: hidden;
}

.progress {
	overflow: hidden;
	height: 20px;
	margin-top: -20px;
	background-color: rgba(245, 245, 245, 0.9);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Forms */
textarea {
	resize: vertical;
}

.form_group {
	margin: 15px auto;
}

/* Courses show */
.media {
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px solid #E7E7E7;
}
.media:first-child {
	margin-top: 15px;
}
.media:last-child {
	padding-bottom: 30px;
}

.media img {
	width: 100px;
}

.media .media-body p {margin-bottom: 0;}

span#course_description {
  display: none;
}

a#show_description {
	font-size: 15px;
}

.leave-btn {
	margin-top: 30px;
}

/* Courses edit */
table.table > tbody > tr > th {
	border-top: none;
}

table.table:not(#admin-table) > tbody > tr > td {
	text-align: right;
}

table.table:not(#admin-table) > tbody > tr > td:first-child {
	text-align: left;
}

/* Quiz */
.submitCont {
	margin-top: 15px;
	text-align: center;
}

div#questions {
	margin-bottom: 50px;
}

a#add-question {
	margin-top: -35px;
}

div#questions div.checkbox > input[type="checkbox"] {
	margin-top: 11px;
}


