html, body {
	height: 100%;
}

body {
	padding-top: 70px;
}

#main-page {
	padding-bottom: 15px;
}

/* nav */ .navbar-brand > img {
	height: 15px;
	margin-top: -5px;
}

ul.navbar-right {
	padding-right: 15px;
}

ul.nav > li > a.avatar > img {
	width: 32px; 
	height: 32px;

	border-radius: 50%;
	-webkit-border-radius: 50%;
}

ul.nav > li.dropdown > a.avatar > img {
	margin-left: 5px;
}

ul.nav > li > a.avatar {
	padding: 9px;
}

/* vertical align middle div */
.home-table {
	display: table; 

	width: 100%;
	height: 100%;
}

.home-table-cell {
	display: table-cell; 
	text-align: middle; 
	vertical-align: middle;
}

.home-table-cell > .jumbotron {
	width: 60%;
	min-width: 285px;
	margin: -10px auto 10px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	text-align: center;
}
/* Admin panel - "create new coure" etc.*/
.admin-panel {
	margin: 10px auto 30px;
	text-align: center;
}

/* Thumbnails */
.thumbnail > img {
	width: 100%;
}

a.thumbnail:hover {
	text-decoration: none;
}

a.thumbnail > .caption > h3 {
	margin-top: 10px;
}

a.thumbnail > .caption > p {
	height: 40px;
	overflow: hidden;
}

/* Forms */
textarea {
	resize: vertical;
}

.form_group {
	margin: 15px auto;
}

/* Courses show */
.media {
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px solid #E7E7E7;
}
.media:first-child {
	margin-top: 15px;
}
.media:last-child {
	padding-bottom: 30px;
}

.media img {
	width: 100px;
}

.media .media-body p {margin-bottom: 0;}

span#course_description {
  display: none;
}

a#show_description {
	font-size: 15px;
}

/* Quiz */
.submitCont {
	margin-top: 15px;
	text-align: center;
}
