body {
  background-image: url(/assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 0;
}

.container-fluid {
	background: white;
	border-top: 1px solid #e7e7e7;
}

.navbar-brand {
	float: none;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	height: 50px;
}

.navbar-brand > img {
	height: 15px;
	margin-top: -5px;
}

.jumbotron > p {
	margin: 35px auto;
}

#kursarz-logo {
	margin-top: -20px;
	margin-bottom: 20px;	
}

#toCourses {
	display: block;
	margin-top: 60px;
	margin-bottom: -30px;
	font-size: 16px;
	color: #f8f8f8;
	padding-bottom: 45px;
	background: url('/assets/down.png') center bottom no-repeat;
}

#toCourses:hover {
	text-decoration: none;
}

#main-page {
	padding-top: 50px;
	padding-bottom: 75px;
}

#courses {
	margin: 0;
	margin-bottom: 50px;
}